@font-face {
    src: url(fonts/victor-serif/victor-serif-regular.otf);
    font-family:'Victor Serif';
}

@font-face {
    src: url(fonts/victor-serif/victor-serif-regular-italic.otf);
    font-family:'Victor Serif Italic';
}
@font-face {
    src: url(fonts/fonnts.com-Maison_Neue_Book.ttf);
    font-family:'maison neue book';
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family:'maison neue book'
}

/*Home*/

#PalomaRinconHome {
    height:100vh;
    padding-left: 2em;
    padding-right: 2em;
    position: relative;
}

#carousel-frame {
    width: 100%;
    height:auto;
    overflow: hidden;
}

#carouselExampleSlidesOnly {
    width: 100%;
    height: 72vh;
    overflow: hidden;
}

#submenu {
    height: 3.2em;
}


#presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: flex-end;
    align-content: flex-end;
}

#presentation > h1 {
    font-size: 120px;
    font-family:'Victor Serif';
    width:60%;
}

#presentation > div {
    width: 40%;
    padding-bottom: 1.5em;
}

#presentation > div > .subtitle {

    font-size: 19px;
}

#submenu-2 {
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
    position: absolute;
    padding-left: 2em;
    padding-right: 2em;
}

#submenu-2 > h5 {
    font-size: 20px;
    padding-top: 2vh;
    padding-bottom: 1vh;
}

/*Menu*/
#menu {
    position: fixed;
    z-index: 1;
    width: 100%;

}

#menu > ul > li > a > figure {
    padding-top:15px;
}

#menu > ul > li {
    list-style: none;
}

#menu > ul {
    width:100%;
    padding-left:0em;
    top: 0;
}

#white {
    background-color: white;
    width:100%;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#white-gradient {
    width: 100%;
    height: 20px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}



/*Página introducción a proyectos*/

#projects-intro {
    height:100vh;
    padding-left: 2em;
    padding-right: 2em;
}

#projects-intro-title {
    display: flex;
    flex-direction: column;
    padding-top: 30vh;
    justify-content: center;
    width:100%;
    align-items: center;
    align-content: center;
}

#projects-intro-title > h2 {
    font-size: 55px;
    font-family:'Victor Serif';
    width:30%;
    text-align: center;
}


/*Flecha que sube y baja*/

@-webkit-keyframes bounce-arrow {
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(10px);
    }
    100%{
      transform: translateY(0px);
    }
  }
  
  @-moz-keyframes bounce-arrow {
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(10px);
    }
    100%{
      transform: translateY(0px);
    }
  }
  
  @keyframes bounce-arrow {
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(10px);
    }
    100%{
      transform: translateY(0px);
    }
  }
  
  .arrow {
    background-repeat: no-repeat;
    background-position: center center;
    width: 22px;
    height: 32px;
    margin: 15px auto 0 auto;
    -webkit-animation: bounce-arrow 1s infinite ease-in-out;
    -moz-animation:    bounce-arrow 1s infinite ease-in-out;
    -o-animation:      bounce-arrow 1s infinite ease-in-out;
    animation:         bounce-arrow 1s infinite ease-in-out;
    display:flex;
    justify-content: center;
    align-items: center;
  }



  /*Proyecto 1 - Genus*/